
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("../img/sfondo.png");
    background-size: contain;
    background-repeat: repeat-y;
}

#logo {
    width: 60%;
    margin-top: 5em;
}

header {
    text-align: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 3.5em;
    background: linear-gradient(to top, rgb(11, 76, 94), rgb(25, 147, 180));
    box-shadow: 4px 4px 8px #161616;
    color: aliceblue;
    overflow: auto;
    
}

header h2 {
    margin: 2em;
    font-size: 3.5em;
}

.nav-link {
    display: block;
    text-decoration: none;
    color: aliceblue;
    font-size: 3.5em;
    margin-bottom: 20px;
}

nav {
    margin-bottom: 5em;
}


#container {
    width: 90%;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    margin-top: 4em;
    box-shadow: 4px 4px 8px #161616;
    padding: 4em;
    box-sizing: border-box;
    overflow: auto;
}

h1 {
    font-size: 7em;
    font-weight: 500;
    margin-top: 0.5em;
}

h1+p {
    color: rgb(168, 168, 168);
    font-size: 4em;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

span {
    color: blueviolet;
}

p:not(h1+p) {
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 1.2em;
}


li {
    font-size: 3.5em;
    font-weight: 400; 
    line-height: 2em;
    text-indent: 2em;
}

ul {
    list-style: disc;
    margin-bottom: 4em;
}

code {
    border: 1px solid black;
    border-radius: 7px;
    background-color: rgb(240, 240, 240);
}

h3 {
    font-size: 4em;
    font-weight: 400;
    line-height: 1.4em;
}

ol {
    list-style: decimal;
    margin-bottom: 4em;
}

table {
    width: 95%;
    font-size: 3.5em;
    border-bottom: 5px solid rgb(50, 79, 192);
    margin-bottom: 2em;
}

caption {
    font-weight: 600;
}

th {
    background-color: rgb(50, 79, 192);
    text-align: center;
    padding: 1em;
    border: 1px solid white;
    color: white;
}

td {
    text-align: center;
    padding: 1em;
}

tr:nth-child(even) {
    background-color: rgb(232, 232, 232);
}

#iframe {
    display: inline-block;
    width: 90%;
    overflow: hidden;
    border-radius: 4em
}

#novita {
    display: inline-block;
    background-color: rgb(216, 215, 215);
    margin-top: 5em;
    padding: 4em;

}

#novita h2 {
    font-size: 7em;
    margin-bottom: 1em;
    text-align: center;
}

form {
    width: 97%;
    text-align: center;
}

input {
    width: 70%;
    font-size: 3em;
    padding: 0.4em;
    border: none;
    border-bottom: 5px dashed black;
}

button {
    margin-left: 1%;
    width: 23%;
    font-size: 3em;
    font-weight: 700;
    background-color: rgb(50, 79, 192);
    color: white;
    padding: 0.4em;
}

aside h2 {
    font-size: 7em;
    padding: 0.6em;
    text-align: center;
}


.correlati {
    background-color: rgb(216, 215, 215);
    padding: 3em;
    margin-bottom: 2.5em;
}

.correlati a {
    font-size: 4em;
    color: rgb(11, 138, 228);
}

.data {
    font-size: 1.7em;
    text-align: end;
}

footer {
    width: 90%;
    margin: 0 auto;
    background: linear-gradient(to bottom, rgb(14, 95, 117), rgb(11, 76, 94));
    color: white;
    text-align: center;
    margin-top: 4em;
    padding: 4em;
    box-sizing: border-box;
    margin-bottom: 4em;
    box-shadow: 4px 4px 8px #161616;

}

#copyright, address {
    font-size: 2em;
}


address a {
    color: rgb(235, 32, 242);
}