<footer class="bg-black text-light">
  <div class="row d-flex align-items-center justify-content-between">
    <div class="col-4 text-center">
      <div>
        <img src="../../../assets/logo.png" alt="" />
        <p>Il tuo autosalone di fiducia</p>
      </div>
      <div class="footer-info-text">
        <p class="m-0">Via Tal dei tali 25</p>
        <p class="m-0">00100 Torino</p>
        <p class="m-0">o-o 01124567845</p>
        <p class="m-0">a info&#64;autorent.auto</p>
      </div>
    </div>
    <div class="col-4 d-flex justify-content-around">
      <div>
        <a routerLink="/">Home</a>
      </div>
      <div>
        <a routerLink="/fiat">Fiat</a>
      </div>
      <div>
        <a routerLink="/ford">Ford</a>
      </div>
      <div>
        <a routerLink="/audi">Audi</a>
      </div>
    </div>
    <div class="col-4">
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat,
        reiciendis? Optio saepe eum deserunt minus odit vitae voluptatum animi
        similique tempora nemo expedita, odio veritatis soluta, id deleniti,
        mollitia officiis! Ex ullam architecto debitis similique!
      </p>
    </div>
  </div>
</footer>
